<p>
  This is your humble server, there has been an error sending a confirmation to the following contact.
  <br>
  This is the message:
</p>
<p>
  Subject:
  <%= @subject %> 
  <br>
  Body:
  <%= @body %>
</p>
<p>
    From
    <%= @email %>
</p>
