
<!-- Preloader -->
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

	<!--HEADER-->
		<div id="header"> 
			<div class="col-sm-12 col-lg-12">
				<div class="row">
					<!--LOGO-->	
						<!-- <div id="logo"> -->
					<!-- <a class="scroll" href="#home">Women Who Code HK</a> -->
				</div>
				<!--//LOGO-->
				<!--MENU-->
				<ul id="menu">
					<li><a class="scroll" href="#home">Home</a></li>
					<!-- <li><a class="scroll" href="#about">About</a></li> -->
					<li><a class="scroll" href="#about-bis">About</a></li>
					<li><a class="scroll" href="#photos">Photos</a></li>
					<li><a class="scroll" href="#contact">Contact</a></li>
				</ul>
				<!--//MENU-->
				<!--RESPONSIVE TOGGLE-->
				<div id="nav-toggle">
					<i class="typcn typcn-th-menu"></i>
				</div>
				<!--//RESPONSIVE TOGGLE-->
			</div>
		</div>
		<!--//HEADER-->
		
		
<!--SERVICES SECTION STARTS-->	
		<section id="about">

			

			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-12">
						<div class="pad90"></div>
							<h1>WOMEN WHO CODE</h1>
							<h2> HONG KONG</h2>
						<div class="lead">
							If you like coding, hacking, learn new langages, have fun 
							programming apps or creating websites, you are at the right place.
						</div>
						<h3 class="pull-right">
							<a href="https://www.facebook.com/groups/womenwhocodehk/" target="_blank">Like us on Facebook<i class="typcn typcn-social-facebook-circular"></i></a>
						</h3>
					</div>
				</div>
			</div>

			<!--MILESTONES-->
			<section id="about-bis">
			</section>
			
		<div class="well">
			<div class="container">
				<h1 style="color: white  !important">
                    <b>Hack, share and learn! <br>
					Come to our next meeting<br> March 27th 7:00-9:00pm</b>
					<br> 
					at <a href="http://papercliphk.com/">Paperclip HK</a>
				</h1>		
			</div>
		</div>
	<!--//MILESTONES-->

		
				
		<!--SERVICE 1-->	
				<div class="col-sm-4 col-lg-4 text-center">
					<div class="service bouncein">
						<i class="typcn typcn-device-laptop"></i>
					</div>
					<h5>Languages</h5>
					<p>
						Code in any frameworks<br>
						Any level of competence - 
						Just have fun<br>
						<span class="colour">Current and aspiring coders are welcome.<br> Bring your laptop and a friend!</span>
					</p>
				</div>
				
		<!--SERVICE 2-->
				<div class="col-sm-4 col-lg-4 text-center">
					<div class="service bouncein">
						<i class="typcn typcn-lightbulb"></i>
					</div>
					<h5>Events</h5>
					<p>
						Hacknights - 
						Tech talks <br>
						Meet other wed developers <br>
						Want to present something, don't hesitate! <br>
						<span class="colour">Build your ideas, form a group to develop projects</span>
					</p>
				</div>
				
		<!--SERVICE 3-->
				<div class="col-sm-4 col-lg-4 text-center">
					<div class="service bouncein">
						<i class="typcn typcn-globe"></i>
					</div>
					<h5>Aims</h5>
					<p>
						We don't beleive in stereotypes, we want to create a community
						to let all women know that there is a place for them in this industry.
						<span class="colour">Everybody is welcome!</span>
					</p>
				</div>
			</div>
		</div>
			</div>	


	
		</section>
	<!--//ABOUT SECTION ENDS-->	
	
			

	
			
	<!--WE LIKE TICKER-->
			<!-- <div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-12">
						<h1 class="like fadeinrightbig">We like<br> <span class="ticker"></span></h1>
					</div>
				</div>
			</div> -->
	<!--//WE LIKE TICKER-->
			
	<!-- SPONSOR -->

    <div class="container">
        <div class="pad90"></div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                    <h1>Sponsors</h1>
                <div class="lead">
                    <p>
                        We are greatful for our sponsor and we are looking for more sponsor to make our events possible.
                        <br>
                        We are a non-profit organization.
                    </p>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-offset-5 col-md-offset-5  col-sm-offset-5">
                <span>
                    <a href="http://papercliphk.com/en" target="_blank">
                        <img id="sponsor-paperclip" src="/assets/papercliphk.png">        
                    </a>
                </span>
            </div>
        </div>
    </div>


	<!-- END SPONSOR -->
	
	
	<!--WORK 2 - PORTFOLIO GALLERY SECTION STARTS-->
	<section id="photos"></section>
		<div class="container">
			<div class="row">
		<div class="col-sm-12 col-lg-12 pad30">
	<!--PORTFOLIO GRID STARTS-->
			<div id="grid">
			<!-- 1 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-01.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-01.jpg"></div>
					<div class="thumbnail-caption"><h3>Hacking</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 2 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-02.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-02.jpg"></div>
					<div class="thumbnail-caption"><h3>Hacking</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       
       <!-- 4 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/event2-04.jpg"></div>
					<div data-image="/assets/gallery/Talking/event2-04.jpg"></div>
					<div class="thumbnail-caption"><h3>Talking</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 5 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-05.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-05.jpg"></div>
					<div class="thumbnail-caption"><h3>Hacking</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 6 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-06.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-06.jpg"></div>
					<div class="thumbnail-caption"><h3>Girls</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 7 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/event2-07.jpg"></div>
					<div data-image="/assets/gallery/Girls/event2-07.jpg"></div>
					<div class="thumbnail-caption"><h3>Girls</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 8 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/event2-08.jpg"></div>
					<div data-image="/assets/gallery/Girls/event2-08.jpg"></div>
					<div class="thumbnail-caption"><h3>Girls</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 9 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-09.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-09.jpg"></div>
					<div class="thumbnail-caption"><h3>Hacking</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 10 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/event2-10.jpg"></div>
					<div data-image="/assets/gallery/Girls/event2-10.jpg"></div>
					<div class="thumbnail-caption"><h3>Girls</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 11 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/event2-11.jpg"></div>
					<div data-image="/assets/gallery/Girls/event2-11.jpg"></div>
					<div class="thumbnail-caption"><h3>Girls</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 12 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/event2-12.jpg"></div>
					<div data-image="/assets/gallery/Talking/event2-12.jpg"></div>
					<div class="thumbnail-caption"><h3>Talking</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 13 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-13.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-13.jpg"></div>
					<div class="thumbnail-caption"><h3>Hacking</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 14 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-14.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-14.jpg"></div>
					<div class="thumbnail-caption"><h3>Hacking</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 15 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/event2-15.jpg"></div>
					<div data-image="/assets/gallery/Talking/event2-15.jpg"></div>
					<div class="thumbnail-caption"><h3>Talking</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 16 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/event2-16.jpg"></div>
					<div data-image="/assets/gallery/Talking/event2-16.jpg"></div>
					<div class="thumbnail-caption"><h3>Talking</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 17 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-17.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-17.jpg"></div>
					<div class="thumbnail-caption"><h3>Hacking</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 18 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/event2-18.jpg"></div>
					<div data-image="/assets/gallery/Girls/event2-18.jpg"></div>
					<div class="thumbnail-caption"><h3>Girls</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       
  
		</div>
			<div class="pad90"></div>	
			<!--//PORTFOLIO GRID ENDS-->
			</div>
		</div>
		</div>
	</section>
	<!--//WORK 2 - PORTFOLIO GALLERY SECTION ENDS-->
	
	
	
				<div class="pad45"></div>
				<!--//CONTACT SECTION STARTS-->
	<section id="contact">
		<div class="container">
			<div class="row">
				<h1>Contact</h1>
			</div>
			<div class="row">
				<div class="col-sm-6 col-lg-6 fadeinleftbig">
					<h2>Come, share, meet some great coders!</h2> 
					<h3 style="color:black !important">

						<strong>Next event on march 26th, 7:00-9:00pm<br>
						3/F, Nam Wo Hong Building,<br>
						148 Wing Lok Street,<br>
						Sheung Wan, Hong Kong<br>
					
					<a href="http://papercliphk.com/"><img id="sponsor-paperclip-small" src="/assets/papercliphk.png"></a>
					</h3>
					<ul class="social-icons">
						<li>
							
							<a href="https://www.facebook.com/groups/womenwhocodehk/">
								<i class="typcn typcn-social-facebook-circular"></i>
							</a>
							
						</li>

					</ul>
				</div>
			
			<div class="col-sm-6 col-lg-6 fadeinrightbig">
			<div class="contact_form pad30">  

        <div class="col-md-12 col-lg-12">
          <form accept-charset="UTF-8" action="<%= contact_url %>" id="ajax-contact-form" method="post">
            <fieldset>
              <legend>Want to know more? We'd love to hear from you!</legend>
              <div class="contact error-message"></div>
              <div class="input-group">
                <label for="contact-email" class="sr-only">Email</label>
                <input type="email" id="contact-email" name="email" placeholder="Email..." class="form-control" required>
              </div>
              <div class="input-group">
                <label for="contact-subject" class="sr-only">Subject</label>
                <input type="text" id="contact-subject" name="subject" placeholder="Subject..." class="form-control" required>
              </div>
              <div class="input-group">
                <label for="contact-body" class="sr-only">Message</label>
                <textarea id="contact-body" name="body" placeholder="Message..." class="form-control"></textarea>
              </div>
              <div class="input-group">
                <input type="submit" name="commit" value="Send" class="btn">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              </div>
            </fieldset>
          </form>
          <div class="contact success-message"></div>
        </div>


<!-- 				<div id="note"></div>
				<div id="fields">
				<form id="ajax-contact-form"> -->
					<!-- <input class="col-xs-12 col-md-12" type="text" name="name" value="" placeholder="Your Name" /> -->
					<!-- <input class="col-xs-12 col-md-12" type="text" name="email" id="contact-email" value="" placeholder="Your Email"/>
					<input class="col-xs-12 col-md-12" type="text" name="subject" id="contact-subject" value="" placeholder="Subject"  />
					<textarea name="message" id="contact-body" class="col-xs-12  col-md-12" placeholder="Your Message..."></textarea>
					<div class="clear"></div>
					<input type="submit" class="btn marg-right10" value="submit" />
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<div class="clear"></div>
				</form>   -->
			</div>
		</div> 
		
		</div>
			</div>
				</div>
					</div>
					<div class="pad25"></div>
					</div>
				</section>
							<!--//END CONTACT SECTION--> 
							
							<!--START FOOTER--> 		
								<footer>			
									<!--Google Map-->
										<div id="google-maps">
											<div class="google-maps">
										</div>
									</div>
									<!-- // End Google Map -->	
									
									<div class="center footer">
									<a href="#home" class=" scroll">
									<i class="typcn typcn-weather-stormy"></i></a>
									<br>
									<div id="copyright" class="bouncein">&copy; 2014 Woman Who Code HK.
										<br>
									</div>
							</div>
						</footer>
					<!--//END--> 










