
<!-- Preloader -->
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

	<!--HEADER-->
		<div id="header"> 
			<div class="col-sm-12 col-lg-12">
				<div class="row">
					<!--LOGO-->	
					<div id="logo">
                        <a class="scroll" href="#home" ><img src="/assets/women-who-code.jpg"></a>
				    </div>
                </div>
				<!--//LOGO-->
				<!--MENU-->
				<ul id="menu">
					<li><a class="scroll" href="#home">Home</a></li>
					<!-- <li><a class="scroll" href="#about">About</a></li> -->
					<li><a class="scroll" href="#about-bis">About</a></li>
                    <li><a class="scroll" href="#sponsor">Sponsors</a></li>
					<li><a class="scroll" href="#photos">Photos</a></li>
          <li><a class="scroll" href="#presentation">Previous events</a></li>
          <li><a class="scroll" href="#team">Who we are</a></li>
					<li><a class="scroll" href="#contact">Contact</a></li>
				</ul>
				<!--//MENU-->
				<!--RESPONSIVE TOGGLE-->
				<div id="nav-toggle">
					<i class="typcn typcn-th-menu"></i>
				</div>
				<!--//RESPONSIVE TOGGLE-->
			</div>
		</div>
		<!--//HEADER-->
		
		
<!--SERVICES SECTION STARTS-->	
		<section id="about">

			

			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-12">
						<div class="pad90"></div>
							<h1>WOMEN WHO CODE</h1>
              <h1> HONG KONG</h1>
            <h2>Our mission</h2>
            <!-- <div class="lead"> -->
            <p>
              We are a <b>non-profit organization</b>, which inspires women to excel in careers in technology. 
              We believe that <b>innovation is driven by diversity</b> and that the tech industry will be even better 
              once women are no longer underrepresented.<br>
              It is a professional community for women in tech. 
              We provide <b>an avenue for women to pursue a career in technology</b>, help them <b>gain new skills</b> and 
              hone existing skills for professional advancement, and <b>foster environments where networking and 
              mentorship are valued</b>.
            </p>
            <!-- </div> -->
						<h3>
							<span class="pull-left">
                    <img src="/assets/women-who-code.jpg" style="height: 70px; width: 140px; margin: 5px;">        
                </span>
                <span class="pull-right">
                    <a href="https://www.facebook.com/groups/womenwhocodehk/" target="_blank">Like us on Facebook<i class="typcn typcn-social-facebook-circular"></i></a>
                </span>
						</h3>
					</div>
				</div>
			</div>
      <div style="text-align: center; ">
        <button style="background-color: #00B6AA; padding: 20px; border: none;">
          <a style="color: white !important; padding: 10px; font-size: 170%;" href="http://eepurl.com/VWBPL" target="_blank">
            Subscribe to our newsletter.
          </a>
        </button>
      </div>
      <div class="pad30"></div>

      <div class="container sponsor-div press">
        <ul>
          <li>
            <a href="http://www.startupshk.com/startupshk-qa-getting-know-karen-farzam-women-code/" target="_blank">
              <img src="/assets/press/startuphk.png" id="startuhk"> 
            </a>
          </li>
          <li>
            <a href="http://www.educationpost.com.hk/resources/entrepreneurship/140717-a-business-mind-karen-farzam-whub" target="_blank">
              <img src="/assets/press/2014-07-scmp.jpg" id="talent-unleashed"> 
            </a>
          </li>
          <li>
            <a href="http://talentunleashed.co/finalists/" target="_blank">
              <img src="/assets/press/2014_Regional_Winner.jpg" id="talent-unleashed"> 
            </a>
          </li>
            <a href="http://technode.com/2014/06/04/women-who-code-hong-kong/" target="_blank">
              <img src="/assets/press/201406-technode-logo.png" id="technode"> 
            </a>
          <li>
            <a href="http://www.24h-en-asie.com/2014/06/24h-dans-la-vie-de-karen-farzam.html" target="_blank">
              <img src="/assets/press/20140610-24h-en-asie.png" id="en-asie"> 
            </a>
          </li>
          <li>
            <a href="http://www.whub.hk/media#tvb-pearl" target="_blank">
              <img src="/assets/press/201409-tvb-pearl.jpg" id="pearl"> 
            </a>
          </li>
        <ul>

      </div>

      <div class="pad30"></div>
			<!--MILESTONES-->
			<section id="about-bis">
			</section>
			
		<div class="well">
			<div class="container">
				<h1 style="color: black  !important;">
          Join us on our next event :
          <br>
					<span >
            <b>
              Tuesday February 25th, 2015 - 7:00pm - 9:30pm
              </br>
					    &nbsp; at <a href="http://www.hkcocoon.org/en/" style="color: white !important; font-size: 110%" target="_blank"> Cocoon.</a>
          </span>  
          <br><br>
          <span style=" color: black; font-weight: 180%;">
            Building Mobile Applications with Ionic Framework
          </span>
          &nbsp; 
          <br>by 
          <span style="background-color: yellow  !important; color: black; font-weight: 180%;">
            Kevin Bluer
            </b>
          </span>
          &nbsp; 
          <br><br>
            Sponsored by 
            <a href="https://generalassemb.ly/" target="_blank">General Assemnly</a>
              & 
            <a href="http://www.hkcocoon.org/en/" target="_blank">Cocoon</a>
            <a href="http://www.hkcocoon.org/en/" target="_blank">
              <img src="/assets/CoCoon.png" style="float: left; max-height=70px; max-width: 70px; margin: 5px;">
            </a>
            <a href="https://generalassemb.ly/" target="_blank">
              <img src="/assets/ga_logo.png" style="float: left; background-color: white; max-height=70px; max-width: 70px; margin: 5px;">        
            </a>

				</h1>		
			 </div>
		  </div>

      <div class="row">
        

      </div>
      <div class="pad90"></div> 
      <div class="row">

          <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-10">
            <h2 style="background-color: white; color: black !important">
              February 25th, 2014
              <!-- <span class="pull-right"><a href="http://www.unocoworking.com/en" style="font-size: 80%;">@ Uno co-working space</a></span> -->
              <!-- <br><br> -->
              <!-- Building and testing Rails JSON API with RSpec by <b>Eddie Lau</b> -->
            </h2>
            
            <div class="row">
              <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
                <div class="item text-center active" style="padding-top: 30px;">
                  <img src="assets/speakers/Kevin_Bluer.png" class="center border" alt="" style="max-height: 180px; width: auto; margin: 40px auto 0;">
                </div>
              </div>
              <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
                <div class="item active text-center">
                  <!-- <h6>Meteor - the Future Web Platform</h6> -->
                  <!-- <p>
                    Meteor is an open-source platform for building top-quality web apps in a fraction of the time, whether you're an expert developer or just getting started.<br>
                    Come and learn what makes Meteor revolutionary and learn how to start your first Meteor project.
                  </p> -->
                  <h6>Kevin Bluer</h6>
                  <div class="hr"></div>
                  <p>
                    Kevin Bluer is an entrepreneur and developer with a blend of technical, enterprise, and early-stage startup experience. He has over 9 years development experience working with companies such as Microsoft, JP Morgan Chase, MTV Networks, Deloitte, The Economist Group, and a number of startups in both the UK and USA.     
                    <a href="http://www.bluer.com" target="_blank">bluer.com</a>
                  </p> 
                </div>
              </div>
            </div>

            <h2 style="background-color: white; color: black !important">
              Coming soon
            </h2>

            <div class="row">
              <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
                <div class="item text-center active" style="padding-top: 30px;">
                  <img src="assets/speakers/simon_ng.jpeg" class="center border" alt="" style="max-height: 180px; width: auto; margin: 40px auto 0;">
                </div>
              </div>
              <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
                <div class="item active text-center">
                  <h6>Developing iOS Apps with Swift <a href="">@Blueprint</a> on March, 19th</h6>
                  <p>
                    - A short introduction to Swift <br>
                    - Play around with Swift using Playgrounds <br>
                    - Creating a simple app using Xcode and Swift 
                  </p>
                  <h6>Simon Ng</h6>
                  <div class="hr"></div>
                  <p>
                    Simon Ng is the founder of <a href="www.appcoda.com">AppCoda</a> and the author of Beginning iOS 8 Programming 
                    with Swift. <br>
                    He started off as a Java developer and held various development roles in companies such as FedEx 
                    and HSBC. He is now working almost exclusively on iOS and focuses on building educational materials for aspiring app developers.
                  </p> 
                </div>
              </div>
            </div>


          </div>


      </div>

      
      <!-- <div class="container">
        <div class="row">
          <h1>COMING SOON</h1>
          
        </div>
      </div> -->
	<!--//MILESTONES-->

		
				
		<!--SERVICE 1-->	
    <div class="pad90"></div> 
				<div class="col-sm-4 col-lg-4 text-center">
					<div class="service bouncein">
						<i class="typcn typcn-device-laptop"></i>
					</div>
					<h5>Languages</h5>
					<p>
						Code in any frameworks<br>
						Any level of competence - 
						Just have fun<br>
						<span class="colour">Current and aspiring coders are welcome.<br> Bring your laptop and a friend!</span>
					</p>
				</div>
				
		<!--SERVICE 2-->
				<div class="col-sm-4 col-lg-4 text-center">
					<div class="service bouncein">
						<i class="typcn typcn-lightbulb"></i>
					</div>
					<h5>Events</h5>
					<p>
						Hacknights - 
						Tech talks <br>
						Meet other web developers <br>
						Want to present something, don't hesitate! <br>
						<span class="colour">Build your ideas, form a group to develop projects</span>
					</p>
				</div>
				
		<!--SERVICE 3-->
				<div class="col-sm-4 col-lg-4 text-center">
					<div class="service bouncein">
						<i class="typcn typcn-globe"></i>
					</div>
					<h5>Aims</h5>
					<p>
						We don't believe in stereotypes, we want to create a community
						to let all women know that there is a place for them in this industry.
						<span class="colour">Everybody is welcome!</span>
					</p>
				</div>
			</div>
		</div>
			</div>	


	
		</section>
	<!--//ABOUT SECTION ENDS-->	
	
			
			
	<!-- SPONSOR -->
    <section id="sponsor"></section>
    <div class="container sponsor-div">
        <div class="pad90"></div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                    <h1>Sponsors</h1>
                <div class="lead">
                    <p>
                        We are greatful for our sponsors and we are looking for more sponsor to make our events possible.
                        <br>
                        We are a non-profit organization.
                    </p>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
              <div class="col-lg-2 col-md-4 col-sm-3">
                <span>
                    <a href="http://goanimate.com/" target="_blank">
                        <img id="sponsor-cocoon" src="/assets/goanimate.jpg">        
                    </a>
                </span>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-3">
                <span>
                    <a href="http://www.hkcocoon.org/en/index.aspx" target="_blank">
                        <img id="sponsor-cocoon" src="/assets/CoCoon.png">        
                    </a>
                </span>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-3">
                <span>
                    <a href="http://www.wynd.hk/" target="_blank">
                        <img id="sponsor-wynd" src="/assets/wynd.png">        
                    </a>
                </span>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-3">
                <span>
                    <a href="https://generalassemb.ly/" target="_blank">
                        <img id="sponsor-ga" src="/assets/ga_logo.png">        
                    </a>
                </span>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-3">
                <span>
                    <a href="http://papercliphk.com/en" target="_blank">
                        <img id="sponsor-paperclip" src="/assets/papercliphk.png">        
                    </a>
                </span>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-3">
                <span>
                    <a href="http://wallem.com" target="_blank">
                        <img src="/assets/wallem-logo.png">        
                    </a>
                </span>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-3">
                <span>
                    <a href="http://www.unocoworking.com/en/" target="_blank">
                        <img src="/assets/uno.png">        
                    </a>
                </span>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-3">
                <span>
                    <a href="http://www.oursky.com" target="_blank">
                      <img id="sponsor-ga" src="/assets/oursky-logo.png" style="float: left;">
                    </a>
                </span>
              </div>
            </div>
        </div>
    </div>


	<!-- END SPONSOR -->
	
	
	<!--WORK 2 - PORTFOLIO GALLERY SECTION STARTS-->
	<section id="photos"></section>
		<div class="container">
			<div class="row">
		<div class="col-sm-12 col-lg-12 pad30">
	<!--PORTFOLIO GRID STARTS-->
  		<div id="grid">

      <!-- 100 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201411/IMG_8423.jpg"></div>
            <div data-image="/assets/gallery/201411/IMG_8423.jpg"></div>
            <div class="thumbnail-caption"><h3>November 2014 @ Cocoon <br> A developer's Toolbox - Kelvin Lee</h3></div>
            <div class="lightbox-text">10th event <span>at Cocoon</span></div>
        </div>

      <!-- 99 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201411/IMG_8408.jpg"></div>
            <div data-image="/assets/gallery/201411/IMG_8408.jpg"></div>
            <div class="thumbnail-caption"><h3>November 2014 @ Cocoon <br> A developer's Toolbox - Kelvin Lee</h3></div>
            <div class="lightbox-text">10th event <span>at Cocoon</span></div>
        </div>

      <!-- 98 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201411/IMG_8406.jpg"></div>
            <div data-image="/assets/gallery/201411/IMG_8406.jpg"></div>
            <div class="thumbnail-caption"><h3>November 2014 @ Cocoon <br> A developer's Toolbox - Kelvin Lee</h3></div>
            <div class="lightbox-text">10th event <span>at Cocoon</span></div>
        </div>

      <!-- 97 -->
        <div class="box" data-category="Fun">
          <div data-thumbnail="/assets/gallery/201411/IMG_8402.jpg"></div>
            <div data-image="/assets/gallery/201411/IMG_8402.jpg"></div>
            <div class="thumbnail-caption"><h3>November 2014 @ Cocoon <br> A developer's Toolbox - Kelvin Lee</h3></div>
            <div class="lightbox-text">10th event <span>at Cocoon</span></div>
        </div>

      <!-- 96 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7900.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7900.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 95 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/201410/IMG_7898.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7898.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 94 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7895.jpg"></div>
            <div data-image="/assets/gallery/201410/IMG_7895.jpg"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 93 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7894.jpg"></div>
            <div data-image="/assets/gallery/201410/IMG_7894.jpg"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 92 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7892.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7892.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 91 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7890.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7890.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 90 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7889.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7889.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 89 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7887.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7887.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 88 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7885.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7885.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 87 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7884.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7884.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 86 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7883.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7883.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 85 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7881.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7881.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 84 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7880.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7880.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 83 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7878.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7878.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 82 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7874.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7874.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 81 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7872.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7872.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 80 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201410/IMG_7872.JPG"></div>
            <div data-image="/assets/gallery/201410/IMG_7872.JPG"></div>
            <div class="thumbnail-caption"><h3>October 2014 @ Uno co-working <br> Building and testing Rails JSON API with RSpec - Eddie Lau</h3></div>
            <div class="lightbox-text">9th event <span>at Uno co-working space</span></div>
        </div>

      <!-- 79 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201409/IMG_7366.JPG"></div>
            <div data-image="/assets/gallery/201409/IMG_7366.JPG"></div>
            <div class="thumbnail-caption"><h3>September 2014 @ Cocoon <br> Identity Crisis (Vagrant & Ansible) - Inny So</h3></div>
            <div class="lightbox-text">8th event <span>at Cocoon</span></div>
        </div>

      <!-- 78 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/201409/IMG_7361.JPG"></div>
            <div data-image="/assets/gallery/201409/IMG_7361.JPG"></div>
            <div class="thumbnail-caption"><h3>September 2014 @ Cocoon <br> Identity Crisis (Vagrant & Ansible) - Inny So</h3></div>
            <div class="lightbox-text">8th event <span>at Cocoon</span></div>
        </div>

      <!-- 77 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201409/IMG_7360.JPG"></div>
            <div data-image="/assets/gallery/201409/IMG_7360.JPG"></div>
            <div class="thumbnail-caption"><h3>September 2014 @ Cocoon <br> Identity Crisis (Vagrant & Ansible) - Inny So</h3></div>
            <div class="lightbox-text">8th event <span>at Cocoon</span></div>
        </div>

      <!-- 75 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201409/IMG_7357.JPG"></div>
            <div data-image="/assets/gallery/201409/IMG_7357.JPG"></div>
            <div class="thumbnail-caption"><h3>September 2014 @ Cocoon <br> Introduction to Foundation - Ying Kit Yuen</h3></div>
            <div class="lightbox-text">8th event <span>at Cocoon</span></div>
        </div>

      <!-- 74 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201409/IMG_7351.JPG"></div>
            <div data-image="/assets/gallery/201409/IMG_7351.JPG"></div>
            <div class="thumbnail-caption"><h3>September 2014 @ Cocoon <br> Introduction to Foundation - Ying Kit Yuen</h3></div>
            <div class="lightbox-text">8th event <span>at Cocoon</span></div>
        </div>

      <!-- 73 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201409/IMG_7344.JPG"></div>
            <div data-image="/assets/gallery/201409/IMG_7344.JPG"></div>
            <div class="thumbnail-caption"><h3>September 2014 @ Cocoon <br> Introduction to Foundation - Ying Kit Yuen</h3></div>
            <div class="lightbox-text">8th event <span>at Cocoon</span></div>
        </div>

      <!-- 72 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/201409/IMG_7342.JPG"></div>
            <div data-image="/assets/gallery/201409/IMG_7342.JPG"></div>
            <div class="thumbnail-caption"><h3>September 2014 @ Cocoon <br> Introduction to Foundation - Ying Kit Yuen</h3></div>
            <div class="lightbox-text">8th event <span>at Cocoon</span></div>
        </div>

      <!-- 71 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201409/IMG_7339.JPG"></div>
            <div data-image="/assets/gallery/201409/IMG_7339.JPG"></div>
            <div class="thumbnail-caption"><h3>September 2014 @ Cocoon <br> Introduction to Foundation - Ying Kit Yuen</h3></div>
            <div class="lightbox-text">8th event <span>at Cocoon</span></div>
        </div>

      <!-- 70 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/201407-event-03.jpg"></div>
            <div data-image="/assets/gallery/Talking/201407-event-03.jpg"></div>
            <div class="thumbnail-caption"><h3>July 2014 @ Wynd HK <br> Front End Best Pratices - Holger Bartel</h3></div>
            <div class="lightbox-text">6th event <span>at Wynd HK</span></div>
        </div>

      <!-- 69 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/201407-event-5.jpg"></div>
            <div data-image="/assets/gallery/Hacking/201407-event-5.jpg"></div>
            <div class="thumbnail-caption"><h3>July 2014 @ Wynd HK <br> Front End Best Pratices - Holger Bartel</h3></div>
            <div class="lightbox-text">6th event <span>at Wynd HK</span></div>
        </div>      

      <!-- 68 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/201407-event-02.jpg"></div>
            <div data-image="/assets/gallery/Talking/201407-event-02.jpg"></div>
            <div class="thumbnail-caption"><h3>July 2014 @ Wynd HK <br> Front End Best Pratices - Holger Bartel</h3></div>
            <div class="lightbox-text">6th event <span>at Wynd HK</span></div>
        </div>

      <!-- 67 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/201407-event-6.jpg"></div>
            <div data-image="/assets/gallery/Hacking/201407-event-6.jpg"></div>
            <div class="thumbnail-caption"><h3>July 2014 @ Wynd HK <br> Front End Best Pratices - Holger Bartel</h3></div>
            <div class="lightbox-text">6th event <span>at Wynd HK</span></div>
        </div> 

      <!-- 66 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/201407-event-7.jpg"></div>
            <div data-image="/assets/gallery/Hacking/201407-event-7.jpg"></div>
            <div class="thumbnail-caption"><h3>July 2014 @ Wynd HK <br> Front End Best Pratices - Holger Bartel</h3></div>
            <div class="lightbox-text">6th event <span>at Wynd HK</span></div>
        </div> 

      <!-- 65 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/201407-event-01.jpg"></div>
            <div data-image="/assets/gallery/Talking/201407-event-01.jpg"></div>
            <div class="thumbnail-caption"><h3>July 2014 @ Wynd HK <br> Front End Best Pratices - Holger Bartel</h3></div>
            <div class="lightbox-text">6th event <span>at Wynd HK</span></div>
        </div>

      <!-- 64 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/20140619-8.jpg"></div>
            <div data-image="/assets/gallery/Talking/20140619-8.jpg"></div>
            <div class="thumbnail-caption"><h3>June 2014 @ Wynd HK <br> Animations with JavaScript - Graham Milosevic</h3></div>
            <div class="lightbox-text">5th event <span>at Wynd HK</span></div>
        </div>
      <!-- 63 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/20140619-7.jpg"></div>
            <div data-image="/assets/gallery/Hacking/20140619-7.jpg"></div>
            <div class="thumbnail-caption"><h3>June 2014 @ Wynd HK <br> Animations with JavaScript - Graham Milosevic</h3></div>
            <div class="lightbox-text">5th event <span>at Wynd HK</span></div>
        </div>
      <!-- 62 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/20140619-6.jpg"></div>
            <div data-image="/assets/gallery/Talking/20140619-6.jpg"></div>
            <div class="thumbnail-caption"><h3>June 2014 @ Wynd HK <br> Animations with JavaScript - Graham Milosevic</h3></div>
            <div class="lightbox-text">5th event <span>at Wynd HK</span></div>
        </div>
      <!-- 61 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/20140619-5.jpg"></div>
            <div data-image="/assets/gallery/Girls/20140619-5.jpg"></div>
            <div class="thumbnail-caption"><h3>June 2014 @ Wynd HK <br> Animations with JavaScript - Graham Milosevic</h3></div>
            <div class="lightbox-text">5th event <span>at Wynd HK</span></div>
        </div>
      <!-- 60 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/20140619-4.jpg"></div>
            <div data-image="/assets/gallery/Girls/20140619-4.jpg"></div>
            <div class="thumbnail-caption"><h3>June 2014 @ Wynd HK <br> Animations with JavaScript - Graham Milosevic</h3></div>
            <div class="lightbox-text">5th event <span>at Wynd HK</span></div>
        </div>
      <!-- 59 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/20140619-3.jpg"></div>
            <div data-image="/assets/gallery/Talking/20140619-3.jpg"></div>
            <div class="thumbnail-caption"><h3>June 2014 @ Wynd HK <br> Animations with JavaScript - Graham Milosevic</h3></div>
            <div class="lightbox-text">5th event <span>at Wynd HK</span></div>
        </div>
      <!-- 58 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/20140619-2.jpg"></div>
            <div data-image="/assets/gallery/Talking/20140619-2.jpg"></div>
            <div class="thumbnail-caption"><h3>June 2014 @ Wynd HK <br> Animations with JavaScript - Graham Milosevic</h3></div>
            <div class="lightbox-text">5th event <span>at Wynd HK</span></div>
        </div>
      <!-- 57 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/20140619-1.jpg"></div>
            <div data-image="/assets/gallery/Girls/20140619-1.jpg"></div>
            <div class="thumbnail-caption"><h3>June 2014 @ Wynd HK <br> Animations with JavaScript - Graham Milosevic</h3></div>
            <div class="lightbox-text">5th event <span>at Wynd HK</span></div>
        </div>
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/20140619-wynd.jpg"></div>
            <div data-image="/assets/gallery/Hacking/20140619-wynd.jpg"></div>
            <div class="thumbnail-caption"><h3>June 2014 @ Wynd HK <br> Animations with JavaScript - Graham Milosevic</h3></div>
            <div class="lightbox-text">5th event <span>at Wynd HK</span></div>
        </div>
      <!-- 56 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/201404-event-17.jpg"></div>
            <div data-image="/assets/gallery/Girls/201404-event-17.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 55 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/201404-event-16.jpg"></div>
            <div data-image="/assets/gallery/Hacking/201404-event-16.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 54 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/201404-event-15.jpg"></div>
            <div data-image="/assets/gallery/Hacking/201404-event-15.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 53 -->      
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/201404-event-14.jpg"></div>
            <div data-image="/assets/gallery/Hacking/201404-event-14.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 52 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/201404-event-13.jpg"></div>
            <div data-image="/assets/gallery/Hacking/201404-event-13.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 51 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/201404-event-12.jpg"></div>
            <div data-image="/assets/gallery/Hacking/201404-event-12.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 50 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/201404-event-11.jpg"></div>
            <div data-image="/assets/gallery/Hacking/201404-event-11.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 49 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/201404-event-10.jpg"></div>
            <div data-image="/assets/gallery/Hacking/201404-event-10.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 48 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/201404-event-09.jpg"></div>
            <div data-image="/assets/gallery/Talking/201404-event-09.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 47 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/201404-event-08.jpg"></div>
            <div data-image="/assets/gallery/Talking/201404-event-08.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 46 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/201404-event-07.jpg"></div>
            <div data-image="/assets/gallery/Girls/201404-event-07.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 45 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/201404-event-06.jpg"></div>
            <div data-image="/assets/gallery/Girls/201404-event-06.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 44 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/201404-event-05.jpg"></div>
            <div data-image="/assets/gallery/Girls/201404-event-05.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 43 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/201404-event-04.jpg"></div>
            <div data-image="/assets/gallery/Talking/201404-event-04.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 42 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/201404-event-03.jpg"></div>
            <div data-image="/assets/gallery/Girls/201404-event-03.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 41 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/201404-event-02.jpg"></div>
            <div data-image="/assets/gallery/Talking/201404-event-02.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 40 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/201404-event-01.jpg"></div>
            <div data-image="/assets/gallery/Talking/201404-event-01.jpg"></div>
            <div class="thumbnail-caption"><h3>April 2014 @ paperclip HK <br> SASS: CSS on steroids - Denis Tsoi</h3></div>
            <div class="lightbox-text">4th event <span>at Paperclip HK</span></div>
        </div>
      <!-- 39 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_21.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_21.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 38 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_20.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_20.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 37 -->
        <div class="box" data-category="Fun">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_19.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_19.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 36 -->
        <div class="box" data-category="Fun">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_18.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_18.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 35 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_17.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_17.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 34 -->
        <div class="box" data-category="Fun">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_16.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_16.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>      
      <!-- 33 -->
        <div class="box" data-category="Fun">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_15.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_15.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 31 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_13.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_13.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 30 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_12.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_12.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 29 -->
        <div class="box" data-category="Fun">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_11.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_11.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 28 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_10.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_10.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 27 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_09.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_09.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 26 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_08.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_08.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 25 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_07.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_07.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 24 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_06.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_06.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 23 -->
        <div class="box" data-category="Fun">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_05.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_05.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 22 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_04.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_04.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 21 -->
        <div class="box" data-category="Fun">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_03.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_03.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 20 -->
        <div class="box" data-category="Fun">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_02.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_02.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 19 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/201403/thumbnails/201403_event_01.jpg"></div>
            <div data-image="/assets/gallery/201403/201403_event_01.jpg"></div>
            <div class="thumbnail-caption"><h3>March 2014 @ paperclip HK</h3></div>
            <div class="lightbox-text">3rd event <span>at Paperclip HK</span></div>
        </div>

			<!-- 1 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-01.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-01.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
      <!-- 2 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-02.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-02.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       
       <!-- 4 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/event2-04.jpg"></div>
					<div data-image="/assets/gallery/Talking/event2-04.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 5 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-05.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-05.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 6 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-06.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-06.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 7 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/event2-07.jpg"></div>
					<div data-image="/assets/gallery/Girls/event2-07.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 8 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/event2-08.jpg"></div>
					<div data-image="/assets/gallery/Girls/event2-08.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 9 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-09.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-09.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 10 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/event2-10.jpg"></div>
					<div data-image="/assets/gallery/Girls/event2-10.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 12 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/event2-12.jpg"></div>
					<div data-image="/assets/gallery/Talking/event2-12.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 13 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-13.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-13.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 14 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-14.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-14.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 15 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/event2-15.jpg"></div>
					<div data-image="/assets/gallery/Talking/event2-15.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 16 -->
        <div class="box" data-category="Talking">
          <div data-thumbnail="/assets/gallery/Talking/thumbnails/event2-16.jpg"></div>
					<div data-image="/assets/gallery/Talking/event2-16.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 17 -->
        <div class="box" data-category="Hacking">
          <div data-thumbnail="/assets/gallery/Hacking/thumbnails/event2-17.jpg"></div>
					<div data-image="/assets/gallery/Hacking/event2-17.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       <!-- 18 -->
        <div class="box" data-category="Girls">
          <div data-thumbnail="/assets/gallery/Girls/thumbnails/event2-18.jpg"></div>
					<div data-image="/assets/gallery/Girls/event2-18.jpg"></div>
					<div class="thumbnail-caption"><h3>February 2014 @ paperclip HK</h3></div>
					<div class="lightbox-text">2nd event <span>at Paperclip HK</span></div>
        </div>
       
  
		</div>
			<div class="pad90"></div>	
			<!--//PORTFOLIO GRID ENDS-->
			</div>
		</div>
		</div>
	</section>
	<!--//WORK 2 - PORTFOLIO GALLERY SECTION ENDS-->
	
	
	
				<div class="pad30"></div>

  <section id="team"></section>
    <div class="container">
      <div class="pad90"></div>
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <h1>Team</h1>
          <h2 style="background-color: black; color: white !important">
            Karen Farzam
            <span class="pull-right" style="padding-right: 5px">Co-founder</span>
          </h2>
          <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
              <div class="item text-center active" style="padding-top: 30px;">
                <img src="assets/karen_farzam.jpg" class="center border" alt="" style="max-height: 200px; width: auto; margin: 0 auto;">
              </div>
            </div>
            <div class="col-sm-6 col-md-7 col-md-offset-2 col-lg-8 col-lg-offset-1 fadeinleftbig" style="color: black;">
              <div class="item active text-center">
                <h6>Co-founder at <a href="http://www.whub.hk" target="_blank">W Hub</a></h6>
                <p>A technology startup that connects passionate entrepreneurs with likeminded engineers, marketing guru and business 
                  experts so they can swap ideas and build a team.</p>

                  <div class="col-sm-12 col-md-3 col-lg-2 fadeinleftbig" style="color: black;">
                    <img src="assets/2014-regional-winner.jpg" class="border" alt="" style="max-height: 50px; width: auto; margin: 0;">
                  </div>
                  
                  
                  <p>Karen Farzam has been awarded Regional Winner of <a href="http://talentunleashed.co">Talent Unleashed Awards Asia 2014 - APACs largest technology awards program</a> - in the categorie Inspirational Leadership. Virgin founder Sir Richard Branson and Apple co-founder Steve Wozniak headed the judging panel.</p>
                  
                  <div class="hr"></div>
                <div>
                  
                  <p>Hailing from France, <a href="http://karenfarzam.com/" target="_blank">Karen Farzam</a> moved to Hong Kong in 2010 and set her sights 
                    on the digital world. As she was brushing up on new coding languages, she realized that there were few web developer 
                    groups for womenand set up Women Who Code with Michelle Sun</p>
                  <p>She is currently working as a full-stack web developer free-lancer and also worked for one of HK successful startup 
                    on 3D printers </p>
                </div>
              </div>
            </div>
          </div>

          <h2 style="background-color: black; color: white !important">
            Michelle Sun
            <span class="pull-right" style="padding-right: 5px">Co-founder</span>
          </h2>
          <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
              <div class="item text-center active" style="padding-top: 30px;">
                <img src="assets/michelle_sun.jpeg" class="center border" alt="" style="max-height: 200px; width: auto; margin: 0 auto;">
              </div>
            </div>
            <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
              <div class="item active text-center">
                <h6>co-founder and CEO at <a href="http://www.firstcodeacademy.com/" target="_blank">First Code Academy</a></h6>
                <p>An education technology startup that teaches pre-university students how to code.</p>
                <div class="hr"></div>
                <div>
                  <p>Prior to founding First Code, she held various roles in high growth startups in the Silicon Valley, including 
                    <a href="http://www.bufferapp.com" target="_blank">Buffer</a>, a tool that helps people share smarter on social media and Bump 
                    Technologies (acquired by Google in 2013).</p>
                  <p>Previously, she attended the inaugural class of <a href="http://www.hackbrightacademy.com" target="_blank">Hackbright Academy</a>, 
                    an intensive program in San Francisco on software development.  Born and raised in Hong Kong, she graduated from 
                    University of Chicago and began her career at Goldman Sachs.</p> 
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> 
    </div>


  <section id="presentation"></section>
  <div class="container">
    <div class="pad90"></div>
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h1>Previous events</h1>

            <h2 style="background-color: white; color: black !important">
              January 12th, 2014
            </h2>
            
            <div class="row">
              <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
                <div class="item text-center active" style="padding-top: 30px;">
                  <img src="assets/speakers/Jason_Li.jpg" class="center border" alt="" style="max-height: 180px; width: auto; margin: 40px auto 0;">
                </div>
              </div>
              <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
                <div class="item active text-center">
                  <h6>Jason Li</h6>
                  <div class="hr"></div>
                  <p>
                    Jason Li has worked with tech companies and startups in San Francisco, Barcelona, Beijing and Hong Kong. Past clients include Skype, Microsoft, Intel, Philips and MySpace. Over the course of his career, he has played the roles of founder-designer, creative director, consultant and wireframing peon.     
                    <a href="http://www.hongkonggong.com/" target="_blank">More details</a>
                  </p> 
                </div>
              </div>
            </div>

            <h2 style="background-color: white; color: black !important">
              December 10th 7:00-9:30pm, 2014 <span class="pull-right"><a href="http://www.unocoworking.com/en/index/main/" style="font-size: 80%;">@ UNO co-working space</a></span>
              <br><br>
              Meteor - the Future Web Platform by <b>Daniel Chcouri</b>
            </h2>

            <div class="row">
              <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
                <div class="item text-center active" style="padding-top: 30px;">
                  <img src="assets/speakers/Daniel_Chcoury.png" class="center border" alt="" style="max-height: 180px; width: auto; margin: 40px auto 0;">
                </div>
              </div>
              <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
                <div class="item active text-center">
                  <h6>Meteor - the Future Web Platform</h6>
                  <p>
                    Meteor is an open-source platform for building top-quality web apps in a fraction of the time, whether you're an expert developer or just getting started.<br>
                    Come and learn what makes Meteor revolutionary and learn how to start your first Meteor project.
                  </p>
                  <h6>Daniel Chcouri</h6>
                  <div class="hr"></div>
                  <p>
                    Founder of <a href="http://www.meteorspark.com/" target="_blank">Meteor Spark</a>, a premium software development & consultancy company that specializes in the <a href="https://www.meteor.com/" target="_blank">Meteor Platform</a>.<br>
                    A full stack web developer, expert in web APIs design & implementation, the Meteor platform, node.js and open source technologies.
                    <a href="http://theosp.github.io/" target="_blank">More details</a>
                  </p> 
                </div>
              </div>
            </div>



        <h2 style="background-color: white; color: black !important">
          November 19th 7:00-9:30pm, 2014 <span class="pull-right"><a href="http://www.hkcocoon.org/en/index.aspx" style="font-size: 80%;">@ CoCoon</a></span>
          <br><br>
          A developer's toolbox by <b>Kelvin Lee</b>
        </h2>
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
            <div class="item text-center active" style="padding-top: 30px;">
              <img src="assets/speakers/KelvinLee.jpg" class="center border" alt="" style="max-height: 180px; width: auto; margin: 40px auto 0;">
            </div>
          </div>
          <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
            <div class="item active text-center">
              <h6>A developer's toolbox</h6>
              <div class="hr"></div>
              <p>
                - co-founder of <a href="http://onioncreative.com/" target="_blank">Onion Creative</a>.<br>
                - 5+ years experience implementing commercial and entreprise scale websites with CMS supportfor various businesses.<br>
                - Specialized in Drupal (CMS), Laravel and NODE JS (Web App) development.<br>
                - email: kelvinlee@onioncreative.com
              </p> 
            </div>
          </div>
        </div>
          




        <h2 style="background-color: white; color: black !important">
          October 15th 7:00-9:30pm, 2014 <span class="pull-right"><a href="http://www.unocoworking.com/en" style="font-size: 80%;">@ Uno co-working space</a></span>
          <br><br>
          Building and testing Rails JSON API with RSpec by <b>Eddie Lau</b>
        </h2>
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
            <div class="item text-center active" style="padding-top: 30px;">
              <img src="https://media.licdn.com/media/p/4/000/16b/109/3387ffb.jpg" class="center border" alt="" style="max-height: 180px; width: auto; margin: 40px auto 0;">
            </div>
          </div>
          <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
            <div class="item active text-center">
              <h6>Building and testing Rails JSON API with RSpec</h6>
              <div class="hr"></div>
              <p>
                - co-organizer of Codeaholics HK Meetup and Hackathon. Codeaholics HK is a programming-language-agnostic local Hong Kong coder community.<br>
                - co-founder of <a href="http://www.42la.bs">42 Labs</a>. 42 Labs provides technical consultancy services for local Hong Kong startups<br>
                - recent favourite tools: Ruby on Rails and Ionic<br>
                - interested in Web, Mobile and Interaction System<br>
                - <a href="http://hk.linkedin.com/in/3dd13">more details</a>
              </p> 
            </div>
          </div>
        </div>
          
        <h2 style="background-color: white; color: black !important">
          September 24th, 2014 <span class="pull-right"><a href="http://www.hkcocoon.org/en/index.aspx" style="font-size: 80%;">@ Cocoon</a></span>
          <br><br>
          Introduction to Foundation framework <b>Ying Kit Yuen</b>
        </h2>
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
            <div class="item text-center active" style="padding-top: 30px;">
              <img src="assets/speakers/kit_thumb.png" class="center border" alt="" style="max-height: 180px; width: auto; margin: 40px auto 0;">
            </div>
          </div>
          <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
            <div class="item active text-center">
              <h6>Introduction to Foundation framework</h6>
              <p>Check out the <a href="http://ykyuen.github.io/slides/005-intro-to-foundation/#/">slides</a></p>
              <div class="hr"></div>
              <p>
                <a href="https://twitter.com/ykyuen" target="_blank">Kit</a> graduated from Chinese University of Hong Kong with a Bachelor and M.Phil Degree in Electronic Engineering. <br>
                He previously worked in Beansbox Studio Limited and has extensive experience working with CSS, Javascript, jQuery, PHP as well as Drupal which is the well known open sourced Content Managment System (CMS).<br> 
                Currently he is working in some backend projects for Lane Crawford and teaching for General Assembly in a part-time basis.
                Kit is a travel lover and he completed the round island cycling in Taiwan last year.<br> 
                Visit his <a href="eureka.ykyuen.info " target="_blank">blog</a> to learn more about him. 
              </p> 
            </div>
          </div>
        </div>
      

      
        <h2 style="background-color: white; color: black !important">
          Identity Crisis (Vagrant & Ansible) <b>Inny So</b>
        </h2>
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
            <div class="item text-center active" style="padding-top: 30px;">
              <img src="assets/speakers/inny-so.jpg" class="center border" alt="" style="max-height: 180px; width: auto; margin: 40px auto 0;">
            </div>
          </div>
          <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
            <div class="item active text-center">
              <h6>Identity Crisis (Vagrant & Ansible)</h6>
              <p>An introduction of the way that we can use to automatically replicate our environment. In this talk we are going to look at two of the most popular tools - Vagrant and Ansible to achieve this.</p>
              <div class="hr"></div>
              <p>
                Inny is a devops consultant working in Thoughtworks Australia (currently working in London for a project). She started off as a Java developer then become interested in continuous delivery and slowly got into devops. 
              </p> 
              <p>
                Follow her on <a href="https://twitter.com/mini_inny">twitter</a>.
                <br>
                Check her <a href="https://github.com/innyso">github</a>.
              </p>
            </div>
          </div>
        </div>
          
        <h2 style="background-color: white; color: black !important">
          Introduction to iBeacon Technology by <b>Harry Ng</b>
          <br>
          August 26th, 2014 <span class="pull-right"><a href="http://www.wynd.hk/" style="font-size: 80%;">@ the Wynd</a></span>
        </h2>
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
            <div class="item text-center active" style="padding-top: 30px;">
              <img src="assets/speakers/harry_Ng.jpg" class="center border" alt="" style="max-height: 180px; width: auto; margin: 40px auto 0;">
            </div>
          </div>
          <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
            <div class="item active text-center">
              <h6>Introduction to iBeacon Technology</h6>
              <div class="hr"></div>
              <p>
                <a href="https://www.linkedin.com/profile/view?id=10929869&authType=NAME_SEARCH&authToken=DlqR&locale=en_US&trk=tyah2&trkInfo=tarId%3A1405582901395%2Ctas%3Aharry%20ng%2Cidx%3A1-1-1" target="_blank">Harry</a> is a serial entrepreneur and long-time web developer. After 6 years' of doing business the hard way, he finally adopted the lean startup methodology, which has taught him how to make things work, fast and simple.<br>
                  This concept has helped him win awards at various startup events around the region.<br>
                  Harry speaks, teaches, organizes startup events (e.g. <a href="http://railsgirls.com/hongkong" target="_blank">Rails Girls</a>) and currently serves as cofounder of Reque.st, a company focusing on products about iBeacon and location-awareness technologies.
              </p> 
            </div>
          </div>
        </div>
      </div>



      <div class="col-sm-12 col-lg-12">
        <h2 style="background-color: white; color: black !important">
          Front-End Best Practice by <b>Holger Bartel</b>
          <br>
          July 23, 2014 <span class="pull-right"><a href="http://www.wynd.hk/" style="font-size: 80%;">@ the Wynd</a></span>
        </h2>
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
            <div class="item text-center active" style="padding-top: 30px;">
              <img src="assets/speakers/foobartel_portrait.jpg" class="center border" alt="" style="max-height: 180px; max-width: 100%; margin: 40px auto 0;">
            </div>
          </div>
          <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
            <div class="item active text-center">
              <h6>Front-End Best Practices</h6>
              <p>Check out the <a href="http://www.slideshare.net/foobartel/front-end-best-practices">presentation.</a>
              <div class="hr"></div>
              <p>
                <a href="http://foobartel.com" target="_blank">Holger</a> is a digital strategist and web designer/developer based in Hong Kong where he opened an office in 2009, after co-founding uforepublic, a design studio, in Germany in 2001.<br>
                He now mostly works as a web consultant and front end developer focusing on responsive web design, the mobile web as well as web performance and is passionate about bringing the latest in web technologies to Asia and building awareness for a future-friendly and standards-based web.<br>
                He also founded and runs the Open Device Lab HK, works as a part-time lecturer at The Hong Kong Polytechnic University's school of design, mentors for startups and speaks at conferences.<br>
                Follow him on <a href="https://twitter.com/foobartel" target="_blank">twitter</a>.
              </p> 
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-lg-12">
          <h2 style="background-color: white; color: black !important">
            Animations using JavaScript by <b>Graham Milosevic</b>
            <br>
            June 19, 2014 <span class="pull-right"><a href="http://www.wynd.hk/" style="font-size: 80%;" target="_blank">@ the Wynd</a></span>
          </h2>
          <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
              <div class="item text-center active" style="padding-top: 30px;">
                <img src="assets/speakers/graham.jpg" class="center border" alt="" style="max-height: 200px; width: auto; margin: 0 auto;">
              </div>
            </div>
            <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
              <div class="item active text-center">
                <h6>Animations with javaScript!</h6>
                <p>Check out the presentation on github:
                  <a href="https://gist.github.com/dented/952c333198157499f36f" target="_blank">dented/gist:952c333198157499f36f</a>
                </p>
                <div class="hr"></div>
                <p>
                  Graham is an international developer who has lead teams and companies to success in the 
                  Digital World.<br>
                  From pioneering an Online EMR system with Microsoft Partnership, 
                  building high frequency trading at Credit Suisse and building high transaction 
                  eCommerce CMS for BEECRAZY.
                </p> 
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-lg-12">
          <h2 style="background-color: white; color: black !important">
            Introduction to Rails by <b>Hubert Lee</b>
            <br>
            May 13, 2014 <span class="pull-right"><a href="http://papercliphk.com/" style="font-size: 80%;" target="_blank">@ papercliphk</a></span>
          </h2>
          <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
              <div class="item text-center active" style="padding-top: 30px;">
                <img src="assets/speakers/hubert_lee.jpg" class="center border" alt="" style="max-height: 200px; width: auto; margin: 0 auto;">
              </div>
            </div>
            <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
              <div class="item active text-center">
                <h6>Introduction to rails!</h6>
                <p>Check out the presentation on github:
                  <a href="https://github.com/hube/easy_cal/" target="_blank">github.com/hube/easy_cal</a>
                </p>
                <div class="hr"></div>
                <p>
                  Hubert Lee is a technologist, a tinkerer, and a traveler. <br>
                  After moving to Hong Kong in late 2012, he joined Thought-Sauce and worked with 
                  a variety of startups, including Charitable Choice and The CloudMiner. <br>
                  He has over four years of experience in developing Ruby on Rails web applications 
                  and has recently begun dabbling in developing apps for the Android platform. 
                </p> 
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-lg-12">
          <h2 style="background-color: white; color: black !important">
            SASS: CSS on steroids by <b>Denis Tsoi</b>
            <br>
            April 23rd, 2014 <span class="pull-right"><a href="http://papercliphk.com/" style="font-size: 80%;" target="_blank">@ papercliphk</a></span>
          </h2>
          <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 fadeinleftbig">
              <div class="item text-center active" style="padding-top: 30px;">
                <img src="assets/speakers/tsoi_denis.png" class="center border" alt="" style="max-height: 200px; width: auto; margin: 0 auto;">
              </div>
            </div>
            <div class="col-sm-6 col-md-9 col-lg-9 fadeinleftbig" style="color: black;">
              <div class="item active text-center">
                <h6>Learn more about the power of SASS!</h6>
                <p>Check out the slides:
                  <a href="https://slides.com/denistsoi">slides.com/denistsoi</a>
                </p>
                <div class="hr"></div>
                <p>
                  CoFounder of <a href="http://digifab.hk/">Digifab.hk</a>
                  <br> <a href="http://digifabhk.wordpress.com/" target="_blank">Check the Community based blog here</a>
                  <br>Community Organiser for Hong Kong's <a href="http://dimsumlabs.com/" target="_blank">HackerSpace DimSumLab</a>
                  <br>Web developer @ Makible
                </p> 
              </div>
            </div>
          </div>

        </div>
      </div> 
    </div>

    <div class="pad90"></div>

				<!--//CONTACT SECTION STARTS-->
	<section id="contact">
		<div class="container">
			<div class="row">
				<h1>Contact</h1>
			</div>
			<div class="row">
                <div class="join-us"><b>Join us on November 19th, 7:00-9:30pm</b></div> 
				<div class="col-sm-6 col-lg-6 fadeinleftbig">
					<h3 style="color:black !important">

						<strong>Come, share, meet some great coders!</strong><br>
                        Cocoon <br>
						        <!-- R3/F, Citicorp Centre, <br>
                    18 Whitfield Road, <br>
                    Tin Hau <br> -->
					
					</h3>
					<ul class="social-icons">
						<li>
							
							<a href="https://www.facebook.com/groups/womenwhocodehk/">
								<i class="typcn typcn-social-facebook-circular"></i>
							</a>
							
						</li>

					</ul>
				</div>
			
			<div class="col-sm-6 col-lg-6 fadeinrightbig">
			<div class="contact_form pad30">  

        <div class="col-md-12 col-lg-12">
          <form accept-charset="UTF-8" action="<%= contact_url %>" id="ajax-contact-form" method="post">
            <fieldset>
              <legend>Want to know more? We'd love to hear from you!</legend>
              <div class="contact error-message"></div>
              <div class="input-group">
                <label for="contact-email" class="sr-only">Email</label>
                <input type="email" id="contact-email" name="email" placeholder="Email..." class="form-control" required>
              </div>
              <div class="input-group">
                <label for="contact-subject" class="sr-only">Subject</label>
                <input type="text" id="contact-subject" name="subject" placeholder="Subject..." class="form-control" required>
              </div>
              <div class="input-group">
                <label for="contact-body" class="sr-only">Message</label>
                <textarea id="contact-body" name="body" placeholder="Message..." class="form-control"></textarea>
              </div>
              <div class="input-group">
                <p id="anti-spam-error" style="display: none;">Try again... 3 + 8 = ?</p>
                <input id="anti-spam" name="body" rows="1" placeholder="3 + 8 = Should be an easy one" class="form-control" style="display: inline-block;"></textarea>
              </div>
              <div class="input-group">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              </div>
              <div class="input-group">
                <input type="submit" name="commit" value="Send" class="btn">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              </div>
            </fieldset>
          </form>
          <div class="contact success-message"></div>
        </div>
			</div>
		</div> 
		
		</div>
			</div>
				</div>
					</div>
          <!--   <div class="row">
              <div class="sponsor-detail">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                  <a href="http://www.hkcocoon.org/en/index.aspx"><img id="sponsor-paperclip-small" src="/assets/CoCoon.png"></a>
                  <p>
                      Is a 14,000 square feet creative coworking space in the middle of Hong Kong shared by startups and freelancers. Located only 5 mins walk from the nearest MTR and 3 mins walk from the Victoria Park. Local restaurants and international hotels are located within walking distance.<br><br>
                      CoCoon features eco-friendly interiors, free high-speed Wifi, an indoor caf, 3D Printer, 100+ modular hot desking seats, conference rooms, a studio and plenty of natural light. Cocoon is the ideal social and physical office space for diverse, innovative and hardworking talent. So whether you are a graphic designer, software engineer, product designer, social media consultant or entrepreneur, we invite you to become a part of our community.
                  </p>
              </div>
            </div>
					<div class="pad25"></div>
					</div> -->
				</section>
							<!--//END CONTACT SECTION--> 
							
							<!--START FOOTER--> 		
					<footer>			
						<!--Google Map-->
						<div id="google-maps">
							<div class="google-maps">
						  </div>
						</div>
						<!-- // End Google Map -->	
						
						<div class="center footer">
						  <a href="#home" class=" scroll">
						    <i class="typcn typcn-weather-stormy" style="color: black !important;"></i>
              </a>
						  <br>
						  <div id="copyright" class="bouncein">
                &copy; 2014 Woman Who Code HK.<br>
						  </div>
				    </div>
			    </footer>
					<!--//END--> 










