.colour {color:#551A8B; } 
.colour-title1 {color:#ffa500; } 

a {color:#551A8B;}
a:hover {color:#333;}

.lines-colour {color: #551A8B; }

blockquote { border-left:4px solid #551A8B!important;  }

.carousel-control.right, .carousel-control.left  { color:#551A8B;}

.pager a .typcn { color:#551A8B!important;}
.pager a .typcn:hover { color:#222; }

.nav-tabs .active a, .nav-tabs a:hover, .nav-tabs .active  a:focus { background-color:#551A8B!important;}

.list-group-item.price, .list-group-item .btn:hover, .service:hover  { background-color: #551A8B!important; }

::selection { background: #551A8B; color: #fff; }
::-moz-selection { background: #551A8B; color: #fff; }

.grid-loadMore:hover { color:#551A8B!important; }